<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AngularJS Example</title>
<!-- Include AngularJS library -->
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
<!-- AngularJS application and controller for the first example -->
<div ng-app="">
<!-- Input field for entering a name -->
<input type="text" ng-model="name" placeholder="Enter Your Name"><br>
<!-- Display the uppercase version of the entered name -->
<h1>Output: {{name | uppercase}}</h1>
<!-- Display the lowercase version of the entered name -->
<h1>Output: {{name | lowercase}}</h1><br>
<!-- Input field and output for currency formatting -->
<input type="text" ng-model="amount" placeholder="Enter Amount"><br>
<h1>Output: {{amount | currency}}</h1><br>
</div>
</body>
</htm>